@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.section1 {
    background-color: #1f2937;
    display: flex; 
    flex-direction: column;
    padding: 16px 200px 50px 200px;
}

.navbar {
    font-size: 24px;
    color: #f9faf8;
    display: flex;
    justify-content: space-between;
}

ul {
    list-style: none;
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
}

.intro {
    display: flex;
    padding: 32px 0;
    column-gap: 16px;
    justify-content: space-between;
    align-items: center;
}

.text {
    display: block;
}

img {
    width: 450px;
    height :250px;
    object-fit: cover;
    flex: none;
}

.title {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 800;
}

.text {
    font-size: 18px;
    color: #e5e7eb
}

button {
    background-color: #3882f6;
    padding: 4px 16px;
    border-radius: 8px;
    color: #e5e7eb;
    font-weight: bold;
}

button.call-for {
    margin-top: 8px;
    border: 1px solid #3882f6;
}

.section2 {
    padding: 32px 200px 50px 200px;
}

.section2 > .title {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    text-align: center;
    margin-bottom: 32px;
}

.info {
    display: flex;
    justify-content: space-evenly;
}

.infobox {
    text-align: center;
    max-width: 175px;
}

.infobox > img {
    width: 175px;
    height: 175px;
    object-fit: cover;
    flex: none;
    border-radius: 25px;
    border: 3px solid #3882f6;
}

.infobox > .subtext {
    margin-top: 8px;
}

.section3 {
    padding: 120px 200px 120px 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
}

.quote {
    
    font: 36px italic;
    font-weight: lighter;
    color: #1f2937;

}

.citation {
    display: block;
    align-self: flex-end;
}

.section4 {
    padding: 80px 200px 80px 200px;
}

.form{
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 10px;
    display: flex;
    padding: 32px 80px 32px 80px;
    justify-content: space-between;
}
.form > button {
    border: 1px solid #f9faf8;
    margin: 12px 0;
}

.formtitle {
    font-size: 30px;
    font-weight: 600;  
}

.formtext {
    font: 24px;
}

.footer {
    background-color: #1f2937;
    color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
}